<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ShareMetro.ShareWareSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ShareMetro.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="DefaultBehavior" />
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="RegisterService" />
        <binding name="ShareServiceEndpoint" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8734/ShareWareServiceLibrary/RegisterService/RegisterService"
        binding="netTcpBinding" bindingConfiguration="RegisterService"
        contract="RegisterServiceReference.IRegisterService" name="RegisterService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/ShareWareServiceLibrary/ShareService/ShareService"
        behaviorConfiguration="NewBehavior0" binding="netTcpBinding"
        bindingConfiguration="ShareServiceEndpoint" contract="ServiceReference.IShareService"
        name="ShareServiceEndpoint">
        <identity>
          <dns value="ShareWare" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <userSettings>
    <ShareMetro.ShareWareSettings>
      <setting name="AutoLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RememberPwd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentDownloadPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastLoginTime" serializeAs="String">
        <value />
      </setting>
    </ShareMetro.ShareWareSettings>
    <ShareMetro.Settings>
      <setting name="AutoLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RememberPwd" serializeAs="String">
        <value>False</value>
      </setting>
    </ShareMetro.Settings>
  </userSettings>
</configuration>
